{{ define "main" }}
<div>
    <!-- desktop -->
    <div class="team-container is-hidden-mobile">
        <!-- FAB -->
        {{ partial "fab" . }}
        
        <div class="pages-banner">
            <img src="/img/team_banner.png">
        </div>
        <div class="columns is-centered team-text-center team-coloumns-margin">
            <div class="column is-2 team-title-left">
                <span>導師</span>
            </div>
            <div class="column is-6 team-title-right">
                <span>總教練團隊</span>
            </div>
        </div>
        <div class="columns is-centered team-coloumns-margin">
            {{range $element := .Params.team}}
            <div class="column is-2 team-no-padding">
                <div class="team-img-column">
                    
                    <img src="{{$element.img_url}}">
                    <div class="team-hover-container">
                        <div class="team-intro">
                            {{$element.description}}
                        </div>
                        <a href="{{$element.link}}">
                            <div class="team-coloumns-margin team-more-container">
                                <div class="team-more team-no-padding" style="margin: 0 auto;">
                                    更多
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="team-text-center team-name">
                    {{$element.chinese_name}}
                    <br> {{$element.english_name}}
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <!-- mobile -->
    <div class="team-container is-hidden-tablet">
        <div class="team-banner">
            <img src="/img/team_banner_mobile.png">
        </div>
        <!-- 導師 -->

        <div class="columns is-mobile is-centered team-text-center team-coloumns-margin">
            <div class="column is-6 team-title-left">
                導師
            </div>
        </div>
        <!-- get first index element -->
        {{ with .Params.team }}
        {{ range first 1 .}}
            <a href="{{.link}}">
                <div class="columns is-mobile is-centered team-text-center team-coloumns-margin">
                    <div class="column is-6 team-title-left">
                        <div class="team-img-270px" style="background-image: url('{{.img_url}}')"></div>
                    </div>
                </div>
                <div class="columns is-centered team-text-center team-coloumns team-coloumns-margin">
                    <div class="column is-2 team-no-padding team-name">
                        {{.chinese_name}}
                    </div>
                </div>
                <div class="columns is-centered team-text-center team-coloumns">
                    <div class="column is-2 team-name">
                        {{.english_name}}
                    </div>
                </div>
            </a>
        {{end}}
        {{end}}


        <!-- 總教練團隊 -->

        <div class="columns is-mobile is-centered team-text-center team-coloumns-margin">
            <div class="column is-6 team-title-left">
                總教練團隊
            </div>
        </div>

        {{range $index,$element := .Params.team}}
            <!-- get array index != 0 element -->
            {{ if ne $index 0}}
                <a href="{{$element.link}}">
                    <div class="columns is-mobile is-centered team-text-center team-coloumns-margin">
                        <div class="column is-6 team-title-left">
                            <div class="team-img-270px" style="background-image: url('{{$element.img_url}}')"></div>
                        </div>
                    </div>
                    <div class="columns is-centered team-text-center team-coloumns team-coloumns-margin">
                        <div class="column is-2 team-no-padding team-name">
                            {{$element.chinese_name}}
                        </div>
                    </div>
                    <div class="columns is-centered team-text-center team-coloumns">
                        <div class="column is-2 team-name">
                            {{$element.english_name}}
                        </div>
                    </div>
                </a>
            {{end}}
        {{ end }}
       
    </div>
</div>
{{ end }}