{{ define "main" }}
    <div style="position:relative;">
        <img class="pages-banner" src="/img/thanks_banner.png">
        <div class="columns is-centered thanks-text-center">
            <div class="column is-3">
                <h2>鳴謝</h2>
            </div>
        </div>

        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>感謝許多資深社工和導師,培訓我們的教練團隊:</p>
            </div>
        </div>

        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>鄭振華牧師(基督教新生協會總監)</p>
            </div>
        </div>

        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>陳俊美 (社會福利署高級社會工作主任)</p>
            </div>
        </div>

        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>竺永洪 (基督教香港信義會青少年服務總監)</p>
            </div>
        </div>

        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>Agnes Leung (基督教香港信義會天朗中心主任)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>謝家和 (香港大學社工系講師)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>Water Lai (基督教巴拿巴資深社工)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>Peggy Chan (聖公會新念坊中心主任)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>Fion Lee (聖公會新念坊資深社工)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>李瀚洋 (聖公會新念坊資深社工)</p>
            </div>
        </div>
        <div class="columns is-centered thanks-text-center">
            <div class="column">
                <p>張惠儀態 (明愛樂協會高級督導主任)</p>
            </div>
        </div>
    </div>
{{ end }}