<!-- TODO: replace /home/hoem or google.com.hk with the correct link -->
<div class="fab-circle fab-1 text-center is-hidden-mobile" onclick="location.href='/intro/intro';"><img class="fab-logo" src="/img/icon_intro.svg"></div>
<div class="fab-circle fab-2 text-center is-hidden-mobile" onclick="location.href='/team/team';"><img class="fab-logo" src="/img/icon_coach.svg"></div>
<div class="fab-circle fab-3 text-center is-hidden-mobile" onclick="location.href='/faq/faq';"><img class="fab-logo" src="/img/icon_Q&A.svg"></div>
<div class="fab-circle fab-4 text-center is-hidden-mobile" onclick="window.open('http://www.dreamspossible.hk/');"><img class="fab-logo" src="/img/icon_DP.svg"></div>
