<div class="desktop-footer text-center">
    <p class="contact-us">
        <a class="link-decoration black" href="/contact/contact">
            聯絡我們
        </a>
        {{.Site.Params.menu}}
        <a href="{{ .Site.Params.fblink}}" target="_blank">
            <img src="/img/fb_icon.svg" width="30" height="30">
        </a>
        <a href="{{ .Site.Params.youtubelink }}" target="_blank">
            <img src="/img/youtube_icon.svg" width="30" height="30">
        </a>
    </p>
    <p class="copy-right">&copy;2018 DP 自在社. All Rights Reserved. 自在社是香港政府正式註冊的非牟利慈善團體
        (編號:91/10179),所有捐款可獲免稅。自在社會址歡迎各界人士租用。</p>
    <div>
        &nbsp;
    </div>
</div>