<!-- desktop nav bar -->
<div class="desktop-nav is-hidden-mobile">
    <a href="{{ $.Site.BaseURL }}/home/home/"> 
        <img src="/img/JCbanner.jpg" />
    </a>
    <div class="desktop-nav-hamburger-btn">
        <img src="/img/hamburger.svg" width="40" height="40"/>
    </div>
    <div class="desktop-showMenu" style="display: none;">
			{{ partial "navigation" . }}
	</div>
</div>
<!-- mobile nav bar -->
<div class="mobile-nav is-hidden-tablet">
    <img src="/img/mobile_JCbanner.jpg" />
    <div class="mobile-nav-hamburger-btn">
        <img src="/img/hamburger.svg" />
    </div>
</div>