<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".desktop-showMenu").hide();
        $(".desktop-nav-hamburger-btn").click(function () {
            $(".desktop-showMenu").slideToggle('fast');
        });
    });

</script>

<script>
    $(document).ready(function () {
        $(".menu-item").mouseover(function () {
            $("#" + this.id).addClass('active');
        });
        $(".menu-item").mouseout(function () {
            $("#" + this.id).removeClass('active');
        });
    });

</script>


<!-- for faq -->
<script>
    var action = 'click';
    var speed = "500";
    chosen = '';
    $(document).ready(function () {

        $('li.q').on(action, function (e) {

            $(this).next().slideToggle(speed)


                .siblings('li.a').slideUp();

            if (chosen != '' && chosen != e.currentTarget.id) {
                $('li.q').removeClass('chosenFaq')
            }


            // Grab img from clicked question
            var img = $(this).children('div.columns').children('div.arrow-container').children('img')

            // remove Rotate class from all images except the active
            $('img').not(img).removeClass('rotate');

            // toggle rotate class
            img.toggleClass('rotate');


            $('#' + e.currentTarget.id).toggleClass('chosenFaq');
            chosen = e.currentTarget.id;
          
        });
    });

</script>
<!-- for story -->
<script>
        var active = '';
        $(document).ready(function () {
    
            active = $('.start-up-active')[0].id;
            console.log(active);
            $('#' + active + '_content').addClass('story-container-show');
            active = active ;
            $('.story-video').on('click', function (e) {
                if (active != "") {
                    $('#' + e.currentTarget.id + '_content').addClass('story-container-show');
                    $('#' + active+ '_content').toggleClass('story-container-show');
                }
                console.log("event: " + e.currentTarget.id);
                $('#' + e.currentTarget.id + '_content').toggleClass('story-container-show');
                $('#' + active+ '_content').toggleClass('story-container-show');
                console.log("now id:" + active)
                active = e.currentTarget.id;
    
            })
        });
    
    </script>