{{ define "main" }}
<div class="home-container">
    <div>
        <div class="story">
            <img src="/img/home/photo.jpg" />
        </div>
        <!-- course overlay -->
        <div class="course-overlay is-hidden-touch">
            <div>
                <p>
                    <span class="course-title">
                        {{ .Params.coursetitle }}
                    </span>
                    <br>
                    <span class="course-slogan">
                        {{ .Params.courseslogan }}
                    </span>
                    <br>
                    <span class="course-description">
                        {{ .Params.coursedescription }}
                    </span>
                </p>
                <button class="dpjrc-btn-primary"><span>查看</span></button>
            </div>
        </div>
        <div>
            <div class="columns">
                <div class="column is-half">
                    hello
                </div>
                <div class="column is-half">
                    hello
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>

            </div>

        </div>

    </div>
</div>
{{ end }}