{{ define "main" }}
<div>
    <div class="home-container">
        <div class="story">
            <a href="/story">
                <img src="/img/photo.jpg" />
            </a>
        </div>
        <!-- course overlay -->
        <div class="course-overlay is-hidden-touch">
            <div>
                <p>
                    <span class="course-title">
                        {{ .Params.coursetitle }}
                    </span>
                    <br>
                    <span class="course-slogan">
                        {{ .Params.courseslogan }}
                    </span>
                    <!-- this is underline -->
                    <div style="width:100%; border-bottom: 3px solid #00a750;">
                    </div>
                    <br>
                    <span class="course-description">
                        {{ .Params.coursedescription }}
                    </span>
                </p>
                <a href="/course" class="dpjrc-btn-primary text-center link-decoration">
                    <span>查看</span>
                </a>
            </div>
        </div>
    </div>
    <div class="home-btn">
        <div class="columns text-center is-multiline is-mobile">
            <a href="/intro/intro" class="column is-half-mobile style1 link-decoration">
                <img src="/img/icon_intro.svg" />
                <p>
                    緣起
                </p>
            </a>
            <a href="/team/team" class="column is-half-mobile style2 link-decoration">
                <img src="/img/icon_coach.svg"  />
                <p>
                    導師及總教練團隊
                </p>
            </a>
            <a href="/faq/faq" class="column is-half-mobile style1 link-decoration">
                <img src="/img/icon_Q&A.svg"  />
                <p>
                    常見問題
                </p>
            </a>
            <a href="http://www.dreamspossible.hk/" class="column is-half-mobile style2 link-decoration">
                <img src="/img/icon_DP2.png"  />
                <p>
                    自在社
                </p>
            </a>
        </div>
    </div>
</div>
{{ end }}