{{ define "main" }}
<div>
    <div class="home-container">
        <div class="story">
            <img src="/img/photo.jpg" />
        </div>
        <!-- course overlay -->
        <div class="course-overlay is-hidden-touch">
            <div>
                <p>
                    <span class="course-title">
                        {{ .Params.coursetitle }}
                    </span>
                    <br>
                    <span class="course-slogan">
                        {{ .Params.courseslogan }}
                    </span>
                    <br>
                    <span class="course-description">
                        {{ .Params.coursedescription }}
                    </span>
                </p>
                <a class="dpjrc-btn-primary text-center">
                    <span>查看</span>
                </a>
            </div>
        </div>
    </div>
    <div class="home-btn">
        <div class="columns text-center is-multiline is-mobile">
            <a class="column is-half-mobile style1">
                <img src="/img/icon_intro.svg" />
                <p>
                    緣起
                </p>
            </a>
            <a class="column is-half-mobile style2">
                <img src="/img/icon_coach.svg"  />
                <p>
                    導師及總教練團隊
                </p>
            </a>
            <a class="column is-half-mobile style1">
                <img src="/img/icon_Q&A.svg"  />
                <p>
                    常見問題
                </p>
            </a>
            <a class="column is-half-mobile style2">
                <img src="/img/icon_DP.svg"  />
                <p>
                    自在社
                </p>
            </a>
        </div>
    </div>
</div>
{{ partial "footer" . }}
{{ end }}