{{ define "main" }}

<body>
    <div class="contact-map">
        <img class="pages-banner is-hidden-mobile" src="/img/contact_banner.png">
        <img class="pages-banner is-hidden-tablet" src="/img/contact_banner_mobile.png" />
    </div>


    <div class="columns is-centered thanks-text-center">
        <div class="column contact-map-container">
            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGb-0OF0ABDQRP0vYVCETGgI&key=AIzaSyCiddPSiWeT1qTr-MwFLJC7F2v-hFO98JM"
                allowfullscreen></iframe>
        </div>
    </div>

    <ul class="contact-list">
        <li> <img class="contact-icon" src="/img/tel.svg">
            <a class="black link-decoration" href="tel:+85255401034">
                852 - 5540 1034 (Wing Chan)
            </a>
        </li>
        <li style="padding-left:40px;"> 
            <a class="black link-decoration" href="tel:+85255402411">
                852 - 5540 2411 (Amy Tsang) 
            </a>
        </li>
        <li> <img class="contact-icon" src="/img/email.svg"> 
            <a class="black link-decoration" href="mailto:yrc@dreamspossible.hk">
                yrc@dreamspossible.hk 
            </a>
        </li>
        <li> <img class="contact-icon" src="/img/web.svg">
            <a class="black link-decoration" href="http://jockeyclubyrs.dreamspossible.hk/">
                http://jockeyclubyrs.dreamspossible.hk/
            </a>
        </li>
    </ul>


</body>
{{ end }}