{{ define "main" }}

<body>
    <div class="contact-map">
        <img class="pages-banner is-hidden-mobile" src="/img/contact_banner.png">
        <img class="pages-banner is-hidden-tablet" src="/img/contact_banner_mobile.png" />
    </div>


    <div class="columns is-centered thanks-text-center">
        <div class="column">
            <iframe width="625" height="310" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGb-0OF0ABDQRP0vYVCETGgI&key=AIzaSyCiddPSiWeT1qTr-MwFLJC7F2v-hFO98JM"
                allowfullscreen></iframe>
        </div>
    </div>

    <ul class="contact-list">
        <li> <img class="contact-icon" src="/img/tel.svg"> 852 - 5540 1034 (Wing Chan)</li>
        <li style="padding-left:40px;"> 852 - 5540 2411 (Amy Tsang) </li>
        <li> <img class="contact-icon" src="/img/email.svg"> yrc@dreamspossible.hk </li>
        <li> <img class="contact-icon" src="/img/web.svg"> www.yrc.dreamspossible.hk </li>
    </ul>


</body>
{{ end }}