{{ define "main" }}
<div class="faq">
    <!-- FAB -->
    {{ partial "fab" . }}
    <div>
        <img class="pages-banner is-hidden-mobile" src="/img/Q&A_banner.png">
        <img class="pages-banner is-hidden-tablet" src="/img/Q&A_banner_mobile.png">
        <ul>
            {{range $index, $content := .Params.question}}
            <li id="faq{{$index}}" class="q">

                <div class="columns is-mobile">
                    <div class="column is-11">
                        <font>{{ add $index 1}}﹑{{$content.title}}</font>
                    </div>
                    <div class="column is-1 arrow-container">
                        <img src="/img/arrow.svg">
                    </div>
                </div>
            </li>

            <li class="a">
                <font>{{$content.ans}}</font>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{ end }}